<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880922640383-s3tlkk3htcujq3o32vjf18frt2ir1ba3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880922640383-s3tlkk3htcujq3o32vjf18frt2ir1ba3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880922640383-7cuq2ist9dr94e7dd5p6ao7rirmnlsad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8Pt34fHqbNX63oGFJrOH--LPU7sKRYg</string>
	<key>GCM_SENDER_ID</key>
	<string>880922640383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-5e13b</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-5e13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880922640383:ios:07af4a6a1d404a2cb6f1ca</string>
</dict>
</plist>